.header {
  height: 60px;
  line-height: 58px;
  border: 1px solid black;
  background-color: #4caf50;
}

div.brand {
  padding-left: 10px;
  float: left;
  font-size: 24px;
}

div.right-panel {
  padding-left: 20px;
  float: right;
}

div.right-panel a {
  display: inline-block;
  border-left: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

div.right-panel a, div.right-panel a:hover, div.right-panel a:active, div.right-panel a:link,
div.right-panel a:visited {
  text-decoration: none;
  color: black;
}

div.right-panel a:hover {
  opacity: 0.8;
}
.header a:hover {
  background-color: #aed581;
}

#logout-btn {
  background-color: #b25109;
}

.spinner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #518e3d;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 25%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
