#locations-container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 20px;
}

#locations-list {
  list-style: none;
  margin: auto;
  width: 40%;
  text-align: center;
}

#locations-list .location-item {
  display: block;
  color: black;
  font-size: 22px;
  padding: 15px;
  margin-bottom: 10px;
  height: 60px;
  border: 1px solid black;
}

#locations-list .location-item:hover, #locations-list .location-item:link, #locations-list .location-item:visited,
#locations-list .location-item:active, #locations-list .location-item {
  text-decoration: none;
}

#locations-list .location-item .x-icon {
  float: right;
}

#locations-list .location-item .x-icon:hover {
  float: right;
  color: red;
}
